<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Features - D&D ToolKit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="/main.css">
  </head>
 <body class = background-img>
	 <div>
	 	<div class ="navigation">
		    <a href = "/">D&D ToolKit</a>
		    <a href = "/features" class = "active">Features</a>
		    <a href = "/signup" class = "login">Signup</a>
		    <a href = "/login" class = "login">Login</a>
	    </div>
	 	<h1 class = "col-md-12 mt-5">Features</h1>
	    <div class="col-md-12 mt-5">
			<p style = "text-align:center; font-weight:bold" >This will be the list of features included in the ToolKit!</p>		   
	    </div>
    </div>    
 </body>
</html>