<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>D&D Toolkit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="/main.css">
  </head>
 <body>
 	<div class ="navigation">
	    <a href = "/" class = "active"><i class="fa fa-home"></i></a>
	    <a href = "#battle">Battle</a>
	    <a href = "/initiative">Initiative</a>
	    <a href = "#home">Inventory</a>
    </div>
 	<h1 class = "col-md-12 mt-5"> D&D ToolKit</h1>
    <div class="col-md-12 mt-5">
    <table align = "center">
    <tbody >
    	<tr>
    		<td style ="padding:10px"><a><p class="btn btn-primary">Battle Tracker</p></a></td>
    		<td style ="padding:10px"><a href = "/initiative" ><p class="btn btn-primary">Initiative Tracker</p></a></td>
    		<td style ="padding:10px"><a><p class="btn btn-primary">Inventory Management</p></a></td>
    	</tr>
   
    
    </tbody>
    
    </table>
    
     </div>
    
    
    
    
    
    
    
    
    
    
    
    
 </body>
</html>