<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login - D&D ToolKit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="/main.css">
  </head>
 <body class = background-img>
 	<div class ="navigation">
	    <a href = "/">D&D ToolKit</a>
	    <a href = "/features">Features</a>
	    <a href = "/signup" class = "login">Signup</a>
	    <a href = "/login" class = "login, login-active">Login</a>
    </div>
    <div class = "login-box">
    	<h1 class = "login-header">Login</h1>
	    	<form th:action = "@{/login}" method = "post">
	    		<p>Username:</p>
	    		<input type = "text" name ="username" id ="username" placeholder = "Username" required>
	    		<p>Password:</p>
	    		<input type = "password" name="password" id ="password" placeholder ="Password" required><br>
	    		<input type = "submit" name="login" value = "Login" class ="btn-primary btn login-button"><br>
	    		<a href = "/signup"><strong>Create an Account</strong></a>
	    	</form>
    </div>
    
 </body>
</html>