<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Signup - D&D ToolKit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="/main.css">
  </head>
 <body class = background-img>
 	<div class ="navigation">
	    <a href = "/">D&D ToolKit</a>
	    <a href = "/features">Features</a>
	    <a href = "/signup" class = "login, login-active">Signup</a>
	    <a href = "/login" class = "login">Login</a>
    </div>
    <div class = "login-box">
    	<h1 class = "login-header">Signup</h1>
    		<p>Since this application is in its early forms and not yet complete, the sign up feature is currently disabled.</p><br>
    		<p>As it is being worked on you can use our guest account to test out some of the features!</p><br>
    		<p><strong>Username:</strong> guest &nbsp; <strong>Password:</strong> guestpass</p><br>
    		<a href = "/login"><strong>Login</strong></a>
    </div>
    
 </body>
</html>