<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>D&D ToolKit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
        <link rel="stylesheet" href="../css/shards.min.css">
        <link rel="stylesheet" href="/main.css">
  </head>
 <body class = background-img>
	 <div>
	 	<div class ="navigation">
		    <a href = "/" class = "active">D&D ToolKit</a>
		    <a href = "/features">Features</a>
		    <a href = "/signup" class = "login">Signup</a>
		    <a href = "/login" class = "login">Login</a>
	    </div>
	 	<h1 class = "col-md-12 mt-5">Welcome!</h1>
	    <div class="welcome-box">
			<p class="col-md-12 mt-5 welcome-text">The D&D ToolKit was designed with the idea to help players more efficiently
			manage aspects of their D&D campaigns to help save time and paper! </p>
			<p class="col-md-12 mt-5 welcome-text">While not meant to entirely replace manually keeping track of 
			your campaign and characters, it is meant to help with tasks that may be repetitive and require a lot of erasing and rewriting of information.</p>
			<p class="col-md-12 mt-5 welcome-text">Some of the features are still being worked on but you can login to test out the Initiative Tracker
			feature.</p>		 
			<p class="col-md-12 mt-5 welcome-info"> <strong>Login using the guest account!<br><br>Username:</strong> guest <strong>Password:</strong> guestpass</p>
	    </div>
    </div>    
 </body>
</html>